$gray : #333
$light-glay : #666
$green : #28bf39
$red : #ef4317
$orange : #ffea2d

@mixin button($bg-color, $txt-color)
	font-weight: bold
	background-color: $bg-color
	color: $txt-color
	display: inline-block
	width: 100px
	padding: 5px 10px
	border: 0px solid #DDD
	margin: 5px 0
body
	width: 960px
	margin: 0 auto

.button_add
	@include button($gray, $green)
.button_add:hover
	background-color: $light-glay
.button_remove,.remove
	@include button($gray, $red)
.button_reset
	@include button($gray, $red)
.edit
	@include button($gray, $orange)
.save
	@include button($gray, $green)
.button_remove:hover
	background-color: $light-glay
.remove:hover
	background-color: $light-glay
.button_reset:hover
	background-color: $light-glay
.edit:hover
	background-color: $light-glay
.save:hover
	background-color: $light-glay